body {
    background-color: #EEEEEE !important;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 0 10px 2px rgba(43, 43, 43, 0.2);
    padding: 20px 40px !important;
    margin: 40px 0;
}

.container2 {
    height: 60px; /* 调整高度为100像素，根据需要进行调整 */
}.respondent-information,
 .questionnaire-description {
     height: 100%; /* 继承父容器的高度 */
 }

.questionnaire-title {
    text-align: center;
}
.respondent-information {
    border-bottom: 1px dashed #CCCCCC;
    padding: 0 0 20px 10px;
    margin: 20px 0;
    float: right;
    width: 30%; /* 调整宽度适配页面布局 */
    /*padding: 0 10px; !* 可选的内边距样式 *!*/
}
.questionnaire-description {
    border-bottom: 1px dashed #CCCCCC;
    padding: 0 0 20px 10px;
    margin: 20px 0;
    float: left;
    width: 70%; /* 调整宽度适配页面布局 */
}
#respondentName {
    font-size: 16px; /* 调整字体大小为14像素 */
}


.question {
    padding: 8px;
    margin-bottom: 10px;
    /*position: relative;*/
}

.question-title {
    font-size: 17px;
}

.question > .top {
    margin-bottom: 10px;
}

.must-answer {
    color: red;
    font-size: 13px;
}

.btn-div {
    text-align: right;
    margin: 40px 0 20px 0;
}

.btn {
    padding: 6px 40px !important;
}
