<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.startpractice.dao.ProjectEntityMapper">
    <resultMap id="BaseResultMap" type="com.example.startpractice.dao.entity.ProjectEntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_content" jdbcType="VARCHAR" property="projectContent"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="last_updated_by" jdbcType="VARCHAR" property="lastUpdatedBy"/>
        <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, project_name, project_content, created_by, creation_date, last_updated_by, last_update_date
    </sql>

    <!-- 根据用户名查找用户信息 -->
    <select id="selectProjectInfo" parameterType="java.lang.String" resultType="com.example.startpractice.dao.entity.ProjectEntity">
        SELECT id,project_name as "projectName",project_content as "projectContent",creation_date as"creationDate",
               created_by as "createdBy",creation_date as "creationDate", last_updated_by as "lastUpdatedBy", user_id as "userId"
        FROM project_info
        WHERE project_name=#{projectName,jdbcType=VARCHAR}
    </select>

    <!-- 查找所有项目信息 -->
    <select id="queryProjectList" parameterType="java.lang.String" resultType="com.example.startpractice.dao.entity.ProjectEntity">
        SELECT id,project_name as "projectName",project_content as "projectContent",creation_date as"creationDate",
        created_by as "createdBy",creation_date as "creationDate", last_updated_by as "lastUpdatedBy", user_id as "userId"
        FROM project_info
        <where>
            <choose>
                <when test="projectName !=null and projectName != ''">
                    project_name=#{projectName,jdbcType=VARCHAR}
                </when >
                <otherwise>
                    created_by=#{createdBy,jdbcType=VARCHAR}
                </otherwise>
            </choose>
        </where>
</select>

    <insert id="insert" parameterType="com.example.startpractice.dao.entity.ProjectEntity">

        insert into project_info (id, user_id, project_name, project_content,created_by, creation_date, last_updated_by, last_update_date)
        values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
                #{projectName,jdbcType=VARCHAR}, #{projectContent,jdbcType=VARCHAR},
                #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP},
                #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})
    </insert>



    <delete id="deleteProjectById" parameterType="com.example.startpractice.dao.entity.ProjectEntity">
        <!--
              WARNING - @mbg.generated
              This element is automatically generated by MyBatis Generator, do not modify.
             -->
        delete from project_info
        where id = #{id,jdbcType=VARCHAR}
    </delete>



    <update id="modifyProjectInfo" parameterType="com.example.startpractice.dao.entity.ProjectEntity">

        update project_info set user_id = #{userId,jdbcType=VARCHAR}, project_name = #{projectName,jdbcType=VARCHAR},
                             project_content= #{projectContent,jdbcType=VARCHAR}, created_by = #{createdBy,jdbcType=VARCHAR},
                             creation_date = #{creationDate,jdbcType=TIMESTAMP},
                             last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
                             last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
                         where id = #{id,jdbcType=VARCHAR}
    </update>


</mapper>