<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.startpractice.dao.QNREntityMapper">
    <resultMap id="BaseResultMap" type="com.example.startpractice.dao.entity.QNREntity">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="qnr_type" jdbcType="VARCHAR" property="qNRType"/>
        <result column="qnr_name" jdbcType="VARCHAR" property="qNRName"/>
        <result column="qnr_content" jdbcType="VARCHAR" property="qNRContent"/>
        <result column="creation_date" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="start_date" jdbcType="TIMESTAMP" property="startDate"/>
        <result column="end_date" jdbcType="TIMESTAMP" property="endDate"/>
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, qnr_type, qnr_name, qnr_content, creation_date, start_date, end_date, project_id, created_by, user_id
    </sql>

    <insert id="insert" parameterType="com.example.startpractice.dao.entity.QNREntity">

        insert into qnr_info (id, qnr_type, qnr_name, qnr_content, creation_date, start_date, end_date, project_id, created_by, user_id)
        values (#{id,jdbcType=VARCHAR}, #{qNRType,jdbcType=VARCHAR},
                #{qNRName,jdbcType=VARCHAR}, #{qNRContent,jdbcType=VARCHAR},
                #{creationDate,jdbcType=TIMESTAMP}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP},
                #{projectId,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR})
    </insert>

    <select id="queryQNRList" parameterType="java.lang.String" resultType="com.example.startpractice.dao.entity.QNREntity">
        SELECT id,qnr_type as "qNRType",qnr_name as "qNRName",qnr_content as "qNRContent",creation_date as"creationDate",
        start_date as "startDate",end_date as "endDate", project_id as "projectId", created_by as "createdBy",user_id as "userId"
        FROM qnr_info
        WHERE project_id= #{projectId,jdbcType=VARCHAR}
<!--        <where>-->
<!--            <choose>-->
<!--                <when test="qNRName !=null and qNRName != ''">-->
<!--                    qnr_name=#{qNRName,jdbcType=VARCHAR}-->
<!--                </when >-->
<!--                <otherwise>-->
<!--                    project_id=#{projectId,jdbcType=VARCHAR}-->
<!--                </otherwise>-->
<!--            </choose>-->
<!--        </where>-->
    </select>
    <select id="queryQNR" parameterType="java.lang.String" resultType="com.example.startpractice.dao.entity.QNREntity">
        SELECT id,qnr_type as "qNRType",qnr_name as "qNRName",qnr_content as "qNRContent",creation_date as"creationDate",
        start_date as "startDate",end_date as "endDate", project_id as "projectId", created_by as "createdBy",user_id as "userId"
        FROM qnr_info
        WHERE id= #{id,jdbcType=VARCHAR}

    </select>


</mapper>